<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/addProductForm.css' %}" />
</head>
<body>
    <div class="add-product-container">
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label>Categorie:</label>
                {{ formProduct.categorie }}
            </div>

            <div class="form-group">
                <label>Nume:</label>
                {{ formProduct.nume }}
            </div>

            <div class="form-group">
                <label>Pret:</label>
                {{ formProduct.pret_unitar }}
            </div>

            <div class="form-group">
                <label>Stoc:</label>
                {{ formProduct.stoc }}
            </div>

            <div class="form-group">
                <label>Furnizor:</label>
                {{ formProduct.furnizor }}
            </div>

            <div>
                <label>Imagine Catalog:</label>
                <input type="file" accept=".jpeg, .jpg" name="catalog-image-input" />
            </div>

            <hr>

            <div class="form-group">
                <label>Domeniu:</label>
                {{ formProperties.domeniu }}
            </div>

            <div class="form-group">
                <label>Dimensiune:</label>
                {{ formProperties.Dimensiune }}
            </div>

            <div class="form-group">
                <label>Tip Foaie:</label>
                {{ formProperties.Foaie }}
            </div>

            <div class="form-group">
                <label>Tip Pagina:</label>
                {{ formProperties.Pagina }}
            </div>

            <hr>

            <div class="form-group">
                <label>Culori:</label>
                {{ formProperties.Culori }}
            </div>

            <input type="submit" name="submit_product_creation"/>
        </form>
    </div>
</body>
</html>