<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
</head>
<body>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formProduct.as_p }}
        <label>Image</label>
        <input type="file" accept=".jpeg, .jpg" name="catalog-image-input" />

        <h4>Tags</h4>
        {{ formProperties.as_p }}
        <input type="submit" name="submit_product_creation"/>
    </form>
</body>
</html>