<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}" />

    <script>
        confirmIcon = "{% static 'images/icons/confirm-icon.png' %}";
        editIcon = "{% static 'images/icons/edit-icon.png' %}";
    </script>

</head>
<body>
    <div class="addresses-page-container">
        <a href="{% url 'add-address' %}">
            <div class="add-address-form">
                <p class="add-address-header">Add Address</p>
                <img src="{% static 'images/icons/address.png' %}" class="address-icon"/>
                <img src="{% static 'images/icons/small-plus.png' %}" class="address-icon"/>
            </div>
        </a>

            {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >
                  {{ message }}</li>
                {% endfor %}
              </ul>
            {% endif %}

            <div class="addresses-container">
                {% for address in addresses %}
                    <form method="POST" action="{% url 'edit-address' address.address_id %}" class="address-item">
                        {% csrf_token %}
                        <div class="row-information">
                            <input type="text" id="address_name" name="address_name" value="{{ address.nume_adresa }}" readonly/>
                            <img src="{% static 'images/icons/edit-icon.png' %}" class="edit-address-icon"/>
                        </div>

                        <hr>

                        <div class="row-information">
                            <label for="address_country">Tara:</label>
                            <input type="text" id="address_country" name="address_country" value="{{ address.tara }}" readonly/>
                        </div>

                        <div class="row-information">
                            <label for="address_state">Judet:</label>
                            <input type="text" id="address_state" name="address_state" value="{{ address.judet }}" readonly/>
                        </div>

                        <div class="row-information">
                            <label for="address_city">Loc:</label>
                            <input type="text" id="address_city" name="address_city" value="{{ address.localitate }}" readonly/>
                        </div>

                        <hr>

                        <div class="row-information">
                            <label for="address_street">Str:</label>
                            <input type="text" id="address_street" name="address_street" value="{{ address.strada }}" readonly/>
                        </div>

                        <div class="row-information">
                            <label for="address_number">Nr:</label>
                            <input type="text" id="address_number" name="address_number" value="{{ address.numar }}" readonly/>
                        </div>

                        <div class="row-information">
                            <label for="address_block">Bl:</label>
                            <input type="text" id="address_block" name="address_block" value="{{ address.bloc }}" readonly/>
                        </div>

                        <div class="row-information">
                            <label for="address_stair">Sc:</label>
                            <input type="text" id="address_stair" name="address_stair" value="{{ address.scara }}" readonly/>
                        </div>

                        <div class="row-information">
                            <label for="address_floor">Et:</label>
                            <input type="number" id="address_floor" name="address_floor" value="{{ address.etaj }}" readonly/>
                        </div>

                        <div class="row-information">
                            <label for="address_apartment">Ap:</label>
                            <input type="number" id="address_apartment" name="address_apartment" value="{{ address.apartament }}" readonly/>
                        </div>
                    </form>
                {% endfor %}
            </div>

    </div>

    <script src="{% static 'scripts/addressListPage.js' %}"></script>
</body>
</html>