<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
        <div class="column-information">
                <h1 class="checkout-headers">Summary</h1>
            <hr>

            <h3 class="checkout-headers">Voucher:</h3>
            <input type="text" class="voucher-input" placeholder="Voucher code here..."/>

            <hr>

            <h3 class="checkout-headers">Suma Produse:
                <span id="subtotal">{{ total_price }} RON</span>
            </h3>
            <hr>

            <h3 class="checkout-headers">Taxa de Transport:
                <span>Fara Taxa</span>
            </h3>
            <hr>

            <h3 class="checkout-headers">Total:
                <span id="total">{{ total_price }} RON</span>
            </h3>
            <hr>

            <a href="{% url 'checkout' %}"><button type="button" id="checkout-button" class="checkout-button">Checkout $</button></a>
        </div>

</body>
</html>