<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
</head>
<body>
    <div class="row-info-container">
        <div class="cart-items-column">
        {% for item in cart_items %}
            <div class="cart-item-container">
                <img class="cart-image" src="data:image/jpeg;base64,{{ item.produs.images.imagine_catalog|b64encode }}" alt="{{ product.nume }}" />
                <div class="cart-item-description">
                    <div class="cart-item-header">
                        <h2>{{ item.produs.nume }}</h2>
                        <h4>{{ item.produs.pret_unitar }}</h4>
                    </div>
                    <h4>{{ item.produs.category.nume_categorie }} {{ item.produs.properties.domeniu }}</h4>
                    <input type="number" min="1" class="cart-add-count" id="add-quantity-{{ item.produs.produs_id }}"
                    value="{{ item.cantitate }}"
                    data-client-id="{{ request.user.id }}"
                    data-product-id="{{ item.produs.produs_id }}"
                    aria-label="Use this field to incraese or decrease the quantity of the product"/>
                    <button type="button" class="eliminate-product-from-cart-button"
                            aria-label="Press this to eliminate the item from your cart">
                        <img src="{% static 'images/icons/open-trash-can.png' %}" alt="Trash Icon" class="social-icon"/>
                    </button>
                </div>
            </div>

            <hr>
        {% endfor %}
        </div>

        <div class="column-information">
            <h1>Summary</h1>
            <hr>
            <h4>Voucher?</h4>
            <h4>Suma Produse:</h4>
            <h4>Taxa de Transport:</h4>
            <h4>Total:</h4>
            <button type="button" id="checkout-button">Plateste</button>
        </div>
    </div>
    <script src="{% static 'scripts/cartPage.js' %}"></script>
</body>
</html>