<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />

    <script>
        const addCartOriginal = "{% static 'images/icons/add-to-cart.png' %}";
        const addedToCartSuccessfully = "{% static 'images/icons/shopping-cart-check.png' %}";
        const addedToFavoritesSuccessfully = "{% static 'images/icons/added-favorites-heart.png' %}";
    </script>
</head>
<body>

        <div class="catalog-container">
            {% for product, image_data in products_with_images %}
                <div class="catalog-item">
                <a href="{% url 'product' product.product.produs_id %}" class="to-product-page-link">
                {% if image_data %}
                    <img class="catalog-image" src="data:image/jpeg;base64,{{ image_data|b64encode }}" alt="{{ product.nume }}" />
                {% else %}
                    <p>No image available</p>
                {% endif %}
                </a>

                <a href="{% url 'product' product.product.produs_id %}" class="to-product-page-link">
                    <h3>{{ product.product.nume }}</h3>
                </a>

                    <div class="price-addCart-favorites">
                        <a href="{% url 'product' product.product %}" class="to-product-page-link">
                            <p>{{ product.product.pret_unitar }} RON</p>
                        </a>
                        <div>
                            <a href="" class="add-to-cart"
                                data-product-id="{{ product.product.produs_id }}"
                                data-client-id="{{ request.user.id }}"
                                aria-label="Press this to add the item to your cart">
                                    <img src="{% if product.product.produs_id in cart_product_ids %}
                                    {% static 'images/icons/shopping-cart-check.png' %}
                                    {% else %}
                                    {% static 'images/icons/add-to-cart.png' %}
                                    {% endif %}"
                                         id="add-to-cart-image-{{ product.product.produs_id }}"
                                         alt="Add item to cart" class="add-to-cart-icon"/>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    <script src="{% static 'scripts/catalogPage.js' %}"></script>
</body>
</html>