<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
    <title>Home</title>

</head>
<body>
    <div class="about-section">

        <div class="about-content">
            <h2><span style="color: #D484E2;
                         font-weight: bold;">
                Cine sunt?</span></h2>
            <p>Numele meu este <b>Alexia</b> si sunt studenta in anul II la <b>Facultatea de Medicina Dentara "Carol Davila"</b>.</p>
            <p>Aici este locul unde incerc sa imi impart dragostea pentru caiete cu cat mai multa lume.
                Daca si tu esti pasionat de lumea caietelor, aici vei gasi numai caiete de inalta calitate cu designuri proprii.</p>
            <p>Suna interesant? Apasa <a href="{% url 'catalog' %}" style="color: #D484E2; font-weight: bold;">aici</a>
                pentru a vedea catalogul nostru!</p>
        </div>

        <div class="carousel">
            <div class="carousel-images">
                <img src="{% static 'images/notebook_images/caiet_1.png' %}" alt="Image 1">
                <img src="{% static 'images/notebook_images/caiet_2.png' %}" alt="Image 2">
                <img src="{% static 'images/notebook_images/caiet_3.png' %}" alt="Image 3">
                <img src="{% static 'images/notebook_images/caiet_4.png' %}" alt="Image 4">
                <img src="{% static 'images/notebook_images/caiet_5.png' %}" alt="Image 5">
                <img src="{% static 'images/notebook_images/caiet_6.png' %}" alt="Image 6">
                <img src="{% static 'images/notebook_images/caiet_7.png' %}" alt="Image 7">
                <img src="{% static 'images/notebook_images/caiet_8.png' %}" alt="Image 8">
            </div>
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </div>

    </div>


    <script src="{% static 'scripts/home.js' %}"></script>
</body>
</html>