<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/home.css' %}" />
</head>
<body>
        <form class="newsletter-form" method="POST">
            {% csrf_token %}
            <h2>Aboneaza-te la Newsletter</h2>
            <input type="email" name="newsletter-email-input" placeholder="Email Address" required/>
            <button type="submit" name="newsletter-submit-button" class="newsletter-button">Submit</button>
        </form>
</body>
</html>