<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />

    <script>
        const addedToFavoritesSuccessfully = "{% static 'images/icons/added-favorites-heart.png' %}";
    </script>
</head>
<body>

    <div class="row-info-container">

        <div>
            <img class="product-page-image" src="data:image/jpeg;base64,{{ product_images.imagine_catalog|b64encode }}"
                 alt="{{ product.nume }}" />
        </div>

        <div class="column-information">
            <h1>{{ product.nume }}</h1>
            <h4>{{ product_type.nume_categorie }} {{ product_properties.domeniu }}</h4>
            <h4 style="color: #D484E2;">{{ product.pret_unitar }} RON</h4>

            <hr>

            {% for field in properties_fields %}
                {% if field.name != 'produs' and field.name != 'domeniu' and field.name != 'Category' %}
            <div class="properties-list">
                    <p>{{ field.verbose_name }}:</p>
                    <p>{{ product_properties|get_attribute:field.name }}</p>
            </div>
                {% endif %}
            {% endfor %}

            <hr>

            <div class="row-info-container">

                <input type="number" min="1" class="cart-add-count" id="add_quantity" value="1"/>

                <button class="add-to-cart-button" type="button" id="add-to-cart"
                        data-product-id="{{ product.produs_id }}"
                        data-client-id="{{ request.user.id }}"
                        aria-label="Press this to add the item to your cart">
                    Adauga in Cos<img src="{% static 'images/icons/cart.png' %}"
                                    id="add-to-cart-image-{{ product.produs_id }}"
                                    alt="Cart Icon" class="social-icon"/>
                </button>
            </div>

            {% if product.produs_id in favorite_products_ids %}
            <button class="add-to-favourites-button" type="button"
                    aria-label="Press this to add the item to your favourites list"
                    style="border-color: #D484E2;" disabled>
                    <img src="{% static 'images/icons/added-favorites-heart.png' %}" alt="Heart Icon" class="social-icon"/>
            </button>
            {% else %}
            <button class="add-to-favourites-button" type="button" id="add-to-favorites"
                    data-product-id="{{ product.produs_id }}"
                    data-client-id="{{ request.user.id }}"
                    aria-label="Press this to add the item to your favourites list">
                Favorites<img src="{% static 'images/icons/heart.png' %}" id="add-to-favorites-image-{{ product.produs_id }}"
                              alt="Heart Icon" class="social-icon"/>
            </button>
            {% endif %}

            <hr>

            <div class="product-description">
                <h4>Livrare:</h4>
                <p>Veți putea vedea opțiunile noastre de livrare la finalizarea comenzii!
                </p>
            </div>

            <hr>

            <div class="product-description">
                <h4>Descriere:</h4>
                <p>Acest caiet modern, dedicat studenților la medicină dentară,
                    are un design atrăgător și un preț accesibil. Cu foi de 80 g/mp,
                    îți oferă o experiență plăcută de scriere, perfect pentru notițe și studii.
                    Ideal pentru a-ți organiza informațiile esențiale!
                </p>
            </div>

            <hr>

            <div class="reviews-container">
                <h3>Reviews
                    <img src="{% static 'images/icons/review_stars.png' %}" alt="Cart Icon" class="social-icon"/>
                </h3>
            </div>
        </div>
    </div>
    <script src="{% static 'scripts/productPage.js' %}"></script>
</body>
</html>