<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/style.css' %}" />

    <script>
        const url = '{% url 'product' product.produs_id %}';
    </script>

</head>
<body>
        <div class="reviews-container">
            <h2>Reviews</h2>

            <form class="add-review-form" action="" method="POST">
                {% csrf_token %}
                <div class="star-rating">
                    <span class="star" data-value="1"></span>
                    <span class="star" data-value="2"></span>
                    <span class="star" data-value="3"></span>
                    <span class="star" data-value="4"></span>
                    <span class="star" data-value="5"></span>
                </div>
                <textarea name="input_review" placeholder="Write a review..."></textarea>
                <button type="submit" name="submit_review">Submit Review</button>
            </form>

            {% for review in review_posts %}
                <p>@{{ review.client.username }} - {{ review.post_date }}</p>
                <div class="flex-start-row-container">
                {% for i in review.nr_stars|times %}
                    <img src="{% static 'images/icons/star.png' %}" class="star-icon">
                {% endfor %}
                </div>
                <p>{{ review.body }}</p>
                <hr>
            {% endfor %}

        </div>

    <script src="{% static 'scripts/productPage.js' %}"?></script>
</body>
</html>