<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}" />
</head>
<body>
    <div class="update-information">

        <div class="row-space-between-container">
            <a href="{% url 'add-address' %}">
            <div class="add-command-info-form">
                <p class="add-command-info-header">Add Address</p>
                <img src="{% static 'images/icons/address.png' %}" class="add-command-info-icon"/>
                <img src="{% static 'images/icons/small-plus.png' %}" class="add-command-info-icon"/>
            </div>
            </a>

            <a href="{% url 'add-card' %}">
            <div class="add-command-info-form">
                <p class="add-command-info-header">Add Card</p>
                <img src="{% static 'images/icons/credit-card.png' %}" class="add-command-info-icon"/>
                <img src="{% static 'images/icons/small-plus.png' %}" class="add-command-info-icon"/>
            </div>
            </a>
        </div>

        <hr>

        <form class="update-user-info" method="POST">
            {% csrf_token %}
            <input type="text" name="last_name" value="{{ user.last_name }}"/>
            <input type="text" name="first_name" value="{{ user.first_name }}"/>
            <input type="text" name="username" value="{{ user.username }}"/>
            <input type="email" name="email" value="{{ user.email }}"/>
            <input type="password" name="password" value="{{ user.password }}"/>
            <input type="text" name="phone_number" value="{{ user.phone_number }}"/>
            <button type="submit" name="updated_info_submit_button">Submit</button>
        </form>

        <hr>

        <form class="newsletter-form" method="POST">
            {% csrf_token %}
            <h2>Subscribe Form</h2>
            <input type="email" name="newsletter-email-input" placeholder="Email Address" required/>
            <button type="submit" name="newsletter-submit-button">Submit</button>
        </form>
    </div>
</body>
</html>