<!DOCTYPE html>
{% load static %}
{% load custom_filters %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}" />
</head>
<body>
    <div class="column-information">
        <h1>{{ user.last_name }}  {{ user.first_name }}</h1>
        <p>@{{ user.username }}</p>
        <b><p>{{ user.email }}</p></b>

        <hr>

        <a href="#">
            <img src="{% static 'images/icons/order-icon.png' %}" alt="Favorite Items List"
                 class="profile-list-icon"/>
            <h4>Comenzile Mele</h4>
        </a>

        <a href="#">
            <img src="{% static 'images/icons/credit-card.png' %}" alt="Favorite Items List"
                 class="profile-list-icon"/>
            <h4>Metode de Plata</h4>
        </a>

        <a href="#">
            <img src="{% static 'images/icons/address.png' %}" alt="Favorite Items List"
                 class="profile-list-icon"/>
            <h4>Adresele Mele</h4>
        </a>

        <a href="{% url 'cart' request.user.id %}">
            <img src="{% static 'images/icons/black-cart.png' %}" alt="Favorite Items List"
                 class="profile-list-icon"/>
            <h4>Cos</h4>
        </a>

        <a href="#">
            <img src="{% static 'images/icons/heart.png' %}" alt="Favorite Items List"
                 class="profile-list-icon"/>
            <h4>Favorite</h4>
        </a>

    </div>
</body>
</html>