<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Stomagia</title>
</head>
<body>
    <div class = 'footer-container'>
        <div class = 'footer-column'>
            <h4>XXXX XXX XXX</h4>
            <h4>stomagia@yahoo.com</h4>
            <h4>Contacteaza-ne</h4>
        </div>

        <div class = 'footer-column'>
            <a href="">About Us</a>
            <a href="">Politica de Confidentialitate</a>
            <a href="">Termeni si Conditii</a>
            <a href="">Legal</a>

        </div>

        <div class = 'footer-column'>
            <a href="">Instagram</a>
            <a href="">Facebook</a>
            <a href="">Tik Tok</a>

        </div>
    </div>
</body>
</html>