.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    width: 75%;
    margin: auto;
    margin-top: 25px;
    gap: 20px;

}

.about-content {
    max-width: 350px;
    padding-right: 20px;
    font-size: 20px;
}

.about-content h2 {
    font-size: 2em;
    color: #4A4A4A;
    margin-bottom: 20px;
}

.about-content p {
    margin-bottom: 15px;
    color: #666;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reviews-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews-section p {
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 0px;
}


.carousel {
    position: relative;
    max-width: 930px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}
.feedback-images,
.carousel-images {
    display: flex;
    justify-content: row;
    transition: transform 0.5s ease-in-out;
}

.feedback-images img,
.carousel-images img {
    width: 300px;
    display: block;
}

.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    left: 10px;
}

.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
    right: 10px;
}

.prev:hover,
.next:hover {
    background-color: rgba(255, 255, 255, 1);
}


@media (max-width: 1200px) {
    .about-section {
        flex-direction: column;
    }

    .carousel {
        max-width: 620px;
    }
}


@media (max-width: 900px) {
    .carousel {
        max-width: 310px;
    }
}

hr {
    border: 0;
    border-top: 0.1px solid #d3d3d3;
    width: 100%;
    margin: 10px 0;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 25px;
    margin-bottom: 25px;

    position: relative;

    width: 100%;
}

.newsletter-form input {
    border-radius: 10px;
    width: 500px;
    margin: 5px;
    padding: 10px;

    box-sizing: border-box;
}

.newsletter-form input:hover {
    border:2px solid #D484E2;
}

.newsletter-button {
    padding: 10px;
    width: 500px;

    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;

    color: white;
    background-color: black;

    border: none;
}

.newsletter-button:hover{
    background-color: #D484E2;
}

@media (max-width: 600px) {
    .newsletter-form input,
    .newsletter-button {
        max-width: 310px;
    }
}


