.reviews-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviews-section p {
    font-size: 32px;
    margin-top: 25px;
    margin-bottom: 0px;
}


.carousel {
    position: relative;
    max-width: 930px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    justify-content: row;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 300px;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
}

button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


@media (max-width: 960px) {
    .carousel {
        max-width: 620px;
    }
}

@media (max-width: 650px) {
    .carousel {
        max-width: 310px;
    }
}

hr {
    border: 0;
    border-top: 0.1px solid #d3d3d3;
    width: 100%;
    margin: 10px 0;
}