.orders-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start
    gap: 20px;
    padding: 20px;
}

.orders-table-container {
    padding: 20px;
}

/* Table styling */
.orders-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0; /* Adds 20px space between rows */
    border: 1px solid black;
}

.orders-table th,
.orders-table td {
    padding: 12px;
    text-align: left;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-bottom: 3px solid black;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.orders-table th {
    font-weight: bold;
    background-color: #eee;
    font-size: 20px;
}

.orders-table tr.status-processing td {
    background-color: #f8b0b0; /* Soft pinkish red */
    color: black;
}

.orders-table tr.status-shipped td {
    background-color: #a0d468; /* Light green */
    color: black;
}

.orders-table tr.status-archived td {
    background-color: #ffd966; /* Light yellow */
    color: black;
}

.view-products-btn,
.change-order-state-button {
    width: 75px;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}


#overlay {
    display: none; /* Hidden by default */
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 999; /* Ensure it appears behind the modal */
}

#product-modal {
    display: none;
    position: fixed;
    overflow-y: auto;
    scroll-behaviour: smooth;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.product-item {
    margin-bottom: 10px;
}

.product-image {
    width: 100px; /* Adjust as needed */
    height: auto;
    margin-top: 5px;
}

#product-modal h2 {
    margin-top: 0;
}

#close-btn {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#close-btn:hover {
    color: red;
}

.product-item {
    display: flex;
    align-items: flex-start;
    justify-content: center:
    align-items: center;
    margin-bottom: 10px;
}

.product-image {
    width: 100px; /* Adjust as needed */
    margin-right: 10px; /* Space between image and text */
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}