html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    border-top: 0.1px solid #d3d3d3;
    width: 100%;
    margin: 10px 0;
}

img {
    margin-left: 5px;
    margin-right: 5px;
}

h4:hover {
    color: #D484E2;
}

.row-information {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;


    padding: 10px;
}

.column-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 350px;
    margin: 10px;
    padding: 10px;
}

.column-information a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.profile-list-icon {
    height: 20px;
    width: 20px;
}


.update-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: fit-content;
    margin: 10px;
    padding: 10px;
}

.column-information p {
    margin: 5px;
    padding: 5px;
}

.row-space-between-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    width: 100%;
}

.add-command-info-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: fit-content;

    border: 2px solid black;
    border-radius: 15px;

    padding-right: 10px;

}

.add-command-info-form:hover {
    border: 2px solid #D484E2;
}

.add-command-info-header {
    margin: 10px;
    margin-right: 0px;
    padding: 10px;

    font-size: 24px;
    font-weight: bold;
}

.add-command-info-icon{
    margin: 0px;
    width: 25px;
    height: 25px;
}

.update-user-info {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));

    gap: 16px;

    max-width: fit-content;

}

@media (max-width: 1200px) {
    .update-user-info {
        grid-template-columns: 1fr;
    }
}

.update-user-info input{
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;

    border-radius: 10px;
}

.update-user-info button {
    margin: 10px;
    margin-left: 0px;
    padding: 10px;

    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;

    color: white;
    background-color: black;

    border: none;
}

.update-user-info button:hover{
    background-color: #D484E2;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;

}

.newsletter-form input {
    border-radius: 10px;
    width: 100%;
    margin: 5px;
    padding: 10px;

    box-sizing: border-box;
}

.newsletter-form button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 10px;
    width: 100%;

    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;

    color: white;
    background-color: black;

    border: none;
}

.newsletter-form button:hover{
    background-color: #D484E2;
}

.row-center-elements-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

#newsletter-submit-success {
    margin: 0px;
    width: 125px;
    height: 125px;
}

.addresses-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 25px;
}

.add-address-form {
    display: flex;
    align-items: center;
}

.add-address-form > :nth-child(2) {
    transition: transform 0.2s;
}

.add-address-form:hover > :nth-child(2) {
    transform: rotate(90deg);
}


.addresses-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;

    margin: 25px;
    width: 80%;
}

.address-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: #F9F9F9;
    border:1px solid black;
    color: black;

    border-radius: 15px;


    margin: 10px;
    padding: 10px;
}

.address-item label {
    padding: 2px;
}

.address-item input {
    border: 1px solid black;
    margin-left: 10px;
    padding: 5px;

    border-radius: 10px;
    box-sizing: border-box;
}


.address-item input:readonly {
    border: 1px solid white;
    background-color: white;
    color: inherit;
    box-sizing: border-box;
}

.address-item input:hover {
    border: 1px solid #D484E2;
}

#address_name {
    border: none;
    width: 100%;
    background: transparent;

    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

#address_name:focus {
    outline: none;         /* Remove the default outline */
    border: none;          /* Remove any border (if applicable) */
    background: transparent; /* Keep the background transparent */
    color: inherit;        /* Keep the text color same as the rest of the text */
    box-shadow: none;      /* Remove any box-shadow */
}

.edit-address-icon {
    margin: 0px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.messages {
    margin: 10px;
    padding: 10px;

    border: 3px solid green;

    border-radius: 5px;

}

.success {
    color: green;
    font-weight: bold;

    font-size: 32px;
}

input:hover {
    border: 2px solid #D484E2;
}


