html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

hr {
    border: 0; /* Remove the default border */
    border-top: 0.1px solid #d3d3d3; /* Slimmer black line */
    width: 100%;
    margin: 10px 0;
}

img {
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    background-color: #D484E2;
}

.navbar-redirections {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.navbar-redirections a {
    color: black;
    text-decoration: none;
    margin: 15px;

    color: white;

    font-size: 16px;
    font-weight: bold;
}

.home-link {
    text-decoration: none;
    color: white;
}

.add-product-button {
    min-width: 150px;
    max-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 25px;

    padding: 10px;
    margin: 10px;

    text-decoration: none;
    color: white;
    background-color: #D484E2;
    box-shadow: 2px 2px 4px rgba(1, 1, 1, 0.3);

    font-size: 20px;
    font-weight: bold;
}

.add-product-button:hover {
    background-color: #A96BC2;
}

.catalog-layout{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    width: 100%;
    height: auto;
}

.filter-container {
    display: block;
    position: sticky;
    top: 25px;
    z-index: 10;

    height: fit-content; ********************************************************

    margin: 10px;
    padding: 10px;
}

.filter-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-grow: 0;
    height: auto;

    width: 100%;
}

.filter-icon {
    width: 15px;
    margin-right: 5px;
}

.catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
    overflow: auto; /* Enable scrolling if content overflows */
    height: fit-content; /* Adjust height based on content */
}

.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    center-items: left;

    border:none;
    padding:3px;
    box-sizing: border-box;

    box-shadow: 2px 2px 4px rgba(1, 1, 1, 0.3);
}

.catalog-item:hover {
    box-shadow: 0px 0px 10px #D484E2;
}

.to-product-page-link {
    text-decoration: none;
    color: inherit;
}

.catalog-item p {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.catalog-image {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    height: auto;
    object-fit: contain;

    border: 1px solid black;
    border-radius: 20px;
}

.price-addCart-favorites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart-icon {
    height: 25px;
    margin-right: 5px;

}

.row-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    padding: 10px;
}

.product-page-image {
    position: sticky;
    max-height: 600px;
    object-fit: contain;
    top: 25px;
    z-index: 10;

    border: 1px solid black;
    border-radius: 25px;
}

.column-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 350px;
    margin: 10px;
    padding: 10px;

    border: 1px solid black;
}

.column-information > * {
    margin: 5px;
}

.properties-list {
    display: flex;
    flex-direction: row;
}

.properties-list > * {
    margin: 5px;
}

.product-information button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-add-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 50px;
    max-height: 25px;

    border: 1px solid black;
    border-radius: 50px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;

    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.add-to-cart-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 255px;
    max-height: 50px;

    border: none;
    border-radius: 25px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;

    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.add-to-cart-button:hover {
    background-color: #555555;
}

.add-to-favourites-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 350px;
    max-height: 50px;

    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;

    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;

    /* Add this to include padding and border in the button's total size */
    box-sizing: border-box;
}

.add-to-favourites-button:hover {
    /* Keep the border thicker on hover, but it won't cause shifting */
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.product-description {
    text-align: left;
}

.reviews-container h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-items-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.cart-item-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;


    width: fit-contain;

    padding: 10px;

}

.cart-item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-grow: 0;
    height: auto;

    width: 100%;
}

.cart-item-header > * {
    margin: 0;
}

.cart-item-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    min-width: 400px;

}

.cart-item-description > * {
    margin: 5px;
    padding: 5px;
}

.cart-image {
    max-height: 175px;
    border: 1px solid black;
    border-radius: 10px;
}

.eliminate-product-from-cart-button{
    min-width: 25px;
    min-height: 25px;
    background-color: white;
    border-radius: 15px;

    margin: 5px;
    border: none;
}

.eliminate-product-from-cart-button:hover {
    background-color: #f0f0f0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 10px;

    margin-top: auto;
}


.footer-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-column h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-column a,
.footer-column h4 {
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.social-icon {
    height: 25px;
    margin-right: 5px;
}

.authentication-form {
    flex-grow: 1;
    height: 100%;
    padding: 16px;
}