body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-icon {

}

.navbar-redirections {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-redirections a {
    color: black;
    text-decoration: none;
    margin: 15px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

.footer-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-column a,
.footer-column h4 {
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.authentification-form {
    heigth: 100%;
}