html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

a:hover {
    color: #D484E2;
}

hr {
    border: 0;
    border-top: 0.1px solid #d3d3d3;
    width: 100%;
    margin: 10px 0;
}

img {
    margin-left: 5px;
    margin-right: 5px;
}

.centered-column-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-start-row-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.navbar-container {
    position: sticky;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px;
    background-color: #D484E2;

    z-index: 10;

    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 750px) {
    .navbar-container {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.navbar-icon {
    height: 100px;
    margin-left: 30px;
}

.navbar-redirections {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.navbar-redirections a {
    color: black;
    text-decoration: none;
    margin: 15px;

    color: white;

    font-size: 20px;
    font-weight: bold;
}

.home-link {
    text-decoration: none;
    color: white;
}

.home-hero-container {
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

.home-hero-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    margin: 0;
}


.add-product-button {
    min-width: 150px;
    max-width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 25px;

    padding: 10px;
    margin: 10px;
    margin-top: 50px;
    margin-left: 25px;

    text-decoration: none;
    color: white;
    background-color: #D484E2;
    box-shadow: 2px 2px 4px rgba(1, 1, 1, 0.3);

    font-size: 20px;
    font-weight: bold;
}

.add-product-button:hover {
    background-color: #A96BC2;
    color: white;
}

.catalog-layout{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
    width: 100%;
    height: auto;
}

.filter-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    position: sticky;
    top: 100px;
    z-index: 1;

    height: fit-content;


    overflow-y: auto;
    overflow-x: hidden;

    margin: 10px;
    padding: 20px;
}

.filter-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-grow: 0;
    height: auto;

    margin-top: 0px;
    width: 100%;
}

.filter-instance{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    cursor: pointer;

    flex-grow: 0;
    height: auto;

    margin-bottom: 15px;

    width: 100%;
}

.filter-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-grow: 0;
    height: auto;

    width: 100%;
}

.filter-icon {
    width: 15px;
    margin-right: 5px;
    transition: transform 0.2s; /* Smooth transform transition */
}

.filter-header:hover .filter-icon {
    transform: rotate(90deg); /* Rotate icon on hover */
}

.selectable-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    flex-grow: 0;
    height: auto;
    padding: 20px;

    width: 100%;
}

.selectable-list input[type = "checkbox"] {
    margin: 10px;
}

#budget {
    width: 100%;
    margin: 10px 0;
}

#rangeValue {
    font-weight: bold;
}

input[type="range"] {
    -webkit-appearance: none; /* Remove default styling */
    width: 100%; /* Full width for range input */
    height: 8px; /* Height of the slider track */
    background: #D484E2; /* Background color for the track (pink) */
    border-radius: 4px; /* Rounded corners for the track */
    outline: none; /* Remove outline */
}

/* Styles for the thumb (the draggable part of the slider) */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none; /* Remove default styling */
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    border-radius: 50%; /* Circular thumb */
    background: #D484E2; /* Color of the thumb */
    cursor: pointer; /* Pointer cursor on hover */
}

input[type="range"]::-moz-range-thumb {
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    border-radius: 50%; /* Circular thumb */
    background: black; /* Color of the thumb */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Styles for the slider track in Firefox */
input[type="range"]::-moz-range-track {
    background: #D484E2; /* Background color for the track (pink) */
    height: 8px; /* Height of the track */
    border-radius: 4px; /* Rounded corners for the track */
}

/* Styles for the range input in Internet Explorer */
input[type="range"]::-ms-track {
    width: 100%; /* Full width for range input */
    height: 8px; /* Height of the track */
    background: transparent; /* Transparent background */
    border-color: transparent; /* Transparent border */
    color: #D484E2; /* Background color for the track (pink) */
}

input[type="range"]::-ms-fill-lower {
    background: #D484E2; /* Color for lower part of the track (pink) */
    border-radius: 4px; /* Rounded corners for the track */
}

input[type="range"]::-ms-fill-upper {
    background: #D484E2; /* Color for upper part of the track (pink) */
    border-radius: 4px; /* Rounded corners for the track */
}

input[type="range"]::-ms-thumb {
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    border-radius: 50%; /* Circular thumb */
    background: black; /* Color of the thumb */
    cursor: pointer; /* Pointer cursor on hover */
}

.catalog-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
    height: calc(100vh - 25px);
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    border:none;
    box-sizing: border-box;
    border-radius: 20px;

    box-shadow: 2px 2px 4px rgba(1, 1, 1, 0.3);
}

.catalog-item:hover {
    box-shadow: 0px 0px 10px #D484E2;
}

.catalog-item p,
.catalog-item h3 {
    margin-left: 10px;
}

.to-product-page-link {
    text-decoration: none;
    color: inherit;
}

.catalog-item p {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.catalog-image {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
    height: auto;
    object-fit: contain;

    border: 1px solid black;
    border-radius: 20px;
}

.price-addCart-favorites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.add-to-cart-icon {
    height: 25px;
    margin-right: 5px;
}

.row-info-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;

    margin-top: 30px;
    padding: 10px;
}

.product-page-image {
    position: sticky;
    max-height: 600px;
    object-fit: contain;
    top: 150px;
    z-index: 1;

    border: 1px solid black;
    border-radius: 25px;

    margin-left: 25px;
    margin-top: 30px;
}

.column-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    max-width: 350px;
    margin: 10px;
    padding: 10px;
}

.column-information > * {
    margin: 5px;
}

.properties-list {
    display: flex;
    flex-direction: row;
    margin-left: 0px;
}

.properties-list > * {
    margin: 5px;
}

.product-information button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart-add-count {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    max-width: 50px;
    max-height: 25px;

    border: 1px solid black;
    border-radius: 50px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;

    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.add-to-cart-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 260px;
    max-height: 50px;

    border: none;
    border-radius: 25px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;

    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.add-to-cart-button:hover {
    background-color: #D484E2;
}


.add-to-favourites-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 350px;
    max-height: 50px;

    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;

    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;

    box-sizing: border-box;
}

.add-to-favourites-button:hover {
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.product-description {
    text-align: left;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
}

.reviews-container h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.add-review-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}

.add-review-form textarea {
    width: 100%;
    border-radius: 10px;

    padding: 10px;
    margin: 5px;
    margin-left: 0px;
}

.add-review-form button {
    width: 150px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    margin-left: 0px;

    background-color: black;
    color: white;

    border: none;

    font-weight: bold;
}

.add-review-form button:hover {
    background-color: #555555;
}

.star-rating {
    margin: 5px;
    margin-left: 0px;
    display: flex;
    flex-direction: row-reverse; /* To maintain right-to-left ordering */
}

.star {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('/static/images/icons/blank_star.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 0px;
}

.star:hover,
.star:hover ~ .star {
    background-image: url('/static/images/icons/star.png');
}

input[type="radio"]:checked ~ label.star,
input[type="radio"]:checked ~ label.star ~ label.star {
    background-image: url('/static/images/icons/star.png');
}

@media (max-width: 1300px) {
    #product-page-container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (max-width: 950px) {
    .product-page-image {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .product-page-image {
        width: 450px;
    }
}


.star-icon {
    width: 20px;
    margin: 0px;
    padding: 0px;
}


.cart-items-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 30px;
}

.cart-item-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;


    width: fit-contain;

    padding: 10px;

}

.cart-item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    flex-grow: 0;
    height: auto;

    width: 100%;
}

.cart-item-header > * {
    margin: 0;
}

.cart-item-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    min-width: 400px;

}

.cart-item-description > * {
    margin: 5px;
    padding: 5px;
}

.cart-image {
    max-height: 175px;
    border: 1px solid black;
    border-radius: 10px;
}

.eliminate-product-from-cart-button{
    min-width: 25px;
    min-height: 25px;
    background-color: white;
    border-radius: 15px;

    margin: 5px;
    border: none;
}

.eliminate-product-from-cart-button:hover {
    background-color: #f0f0f0;
}

.voucher-input {
    width: 80%;
    height: 25px;
    border-radius: 10px;

    padding: 5px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.checkout-button {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 10px;

    padding: 10px;
    margin: 10px;

    text-decoration: none;
    color: white;
    background-color: black;
    box-shadow: 2px 2px 4px rgba(1, 1, 1, 0.3);

    font-size: 20px;
    font-weight: bold;
}



.checkout-headers {
    margin: 15px;
    padding: 5px;
}


.checkout-button:hover {
    background-color: #D484E2;
}

@media (max-width: 1200px) {
    #cart-page-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .cart-item-description{
        min-width: auto;
    }
}

@media (max-width: 750px) {
    .cart-item-header{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}



.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #333333;
    padding: 10px;

    margin-top: auto;

}


.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 125px;
    margin-right: 125px;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media (max-width: 750px) {
    .footer-container {
        flex-direction: column;
        justify-content: center;
    }
}

.footer-column h4 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-column a,
.footer-column h4 {
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}

.social-icon {
    height: 25px;
    margin-right: 5px;
}

.authentication-form {
    flex-grow: 1;
    height: 100%;
    padding: 16px;
}